<%- include header %>

<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="panel panel-default">
				<div class="panel-body">
					<form method="post">
						<h4>标题：</h4>
						<input type="text" class="form-control" value="<%=post.title %>" name="title" disabled/><br />
						<h4>正文：</h4>
						<% if(typeEditor == 1) {%>
							<textarea id="editor_id" name="post" style="width:100%;height:300px;"><%= post.post%></textarea>
						<%}else{%>
							<textarea class="form-control" name="post" rows="20" cols="100"><%= post.post%></textarea><br />
						<%}%>
						<h4>添加标签:</h4>
						<input type="text" style="width:400px" class="form-control" value="<%= post.tags[0]%>" name="tag1" disabled/>
						<input type="text" style="width:400px" class="form-control" value="<%= post.tags[1]%>" name="tag2" disabled/>
						<input type="text" style="width:400px" class="form-control" value="<%= post.tags[2]%>" name="tag3" disabled/>
						<button type="submit" class="btn btn-info ">保存</button>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-body">


				</div>
			</div>
		</div>
	</div>
</div>

<%- include footer %>
