<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title><%= title%></title>

<link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/css/style_from_net.css">
<link rel="stylesheet" href="/stylesheets/css/head.css">
<script src="/javascripts/app.js" charset="utf-8"></script>
<script src="/javascripts/utils.js" charset="utf-8"></script>
<script charset="utf-8" src="/kindEditor/kindeditor-min.js"></script>
<script charset="utf-8" src="/kindEditor/lang/zh_CN.js"></script>
<script src="/javascripts/checkInfo.js" charset="utf-8"></script>
<script>
KindEditor.ready(function(K) {
        window.editor = K.create('#editor_id',{
allowImageUpload : false,
items:[
'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',
'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/',
'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image',
'insertfile', 'table', 'hr', 'emoticons', 'baidumap', 'pagebreak',
'anchor', 'link', 'unlink', '|', 'about'
]
});
        });
var options = {
cssPath : '/css/index.css',
          filterMode : true
};
</script>
<style>
#inputName3{
    padding:9px 9px 9px 48px;background:url(./images/user_16.ico) 10px
    no-repeat }
#inputPassword3,#inputPasswordRepeat3{
    padding:9px 9px 9px 48px;background:url(./images/lock_16.ico) 12px 10px
    no-repeat}
#inputEmail3{
    padding:9px 9px 9px 48px;background:url(./images/email_16.ico) 10px
    no-repeat}
</style>
</head>
<body>
<!-- navbar-fixed-top height:30px-->
<nav class="navbar navbar-default  navbar-inverse " style="">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand head" style="font-family:kevins"href="/">crab</a>
            <!-- <a class="navbar-brand" href="/"><img src="/images/home_24.ico" alt="Home" /></a> -->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" >
                <li><a href="/"><span style="">首页</span> <span class="sr-only">(current)</span></a></li>
                <!-- <li><a href="#"><span style="font-family:kevins">Contact</span></a></li>
                <li><a href="/links"><span style="font-family:kevins">Link</span></a></li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span style="font-family:kevins">test</span> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/upload">上传</a></li>
                    <li><a href="/archive"><span style="font-family:kevins">Archives</span></a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
                </li> -->

            </ul>
            <ul class="nav navbar-nav navbar-right">

                <% if(user){ %>
                    <li><a href="/archive"><span style="font-family:kevins">Archives</span></a></li>
                <li><a href="/post"><span style="font-family:kevins">New</span></a></li>
                <!-- <p class="navbar-text">Welcome</p> -->

                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span style="font-family:kevins"><%= user %></span> <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-Menu2">
                    <li role="presentation"><a a role="menuitem" tabindex="-1" href="/post"><img src="/images/pen_16.ico" alt="" />&emsp;新随笔</a></li>
                    <li role="presentation"><a a role="menuitem" tabindex="-1" href="/u/<%= user%>"><img src="/images/user_black_16.ico" alt="" />&emsp; 我的主页</a></li>
                    <li role="presentation"><a a role="menuitem" tabindex="-1" href="#"><img src="/images/message_16.ico" alt="" />&emsp;私信</a></li>
                    <li role="presentation"><a a role="menuitem" tabindex="-1" href="/personal"><img src="/images/personal_16.ico" alt="" />&emsp;个人中心</a></li>

                    <li role="separator" class="divider"></li>
                    <li><a href="/logout"><img src="/images/exit_16.ico" alt="" />&emsp;退出</a></li>
                </ul>
                </li>
                <li><img src="<%= photo%>"  alt="..." class="img-circle"></li>

            <% } else { %>
                    <li><a href="/reg">注册</a></li>
                <li><a href="/login">登录</a></li>
            <% } %>

            </ul>
            <form action="/search" method="get" class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" name="keyword" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-link"><img src="/images/Search_24.ico" alt="" /></button>
                <a href="https://github.com/zerocode1337/crab_blog" target="_blank"><img src="/images/github_16.ico" alt="" /></a>
            </form>


        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<% if(error) { %>
    <script type="text/javascript">
alert("<%= error%>");
</script>
<!-- <div><%= error %></div> -->
<% } %>
<% if(success) {%>
    <div class="alert alert-success alert-dismissible" role="alert" style="text-align:center; margin-left:auto; margin-right:auto;font-size:2em; font-family:kevins; height:50px; width:50%;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Success </strong><%= success%>
    </div>
<% } %>
